<mat-card class="form">
    <mat-card-header>
      <mat-card-title class="title-home">A propos du bien</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <mat-label>Prix</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Département</mat-label>
      <mat-select>
        @for (department of departments$ | async; track department.id) {
          <mat-option>{{department.id}} - {{department.name}}</mat-option>
        }
        @empty {
          <mat-option>Aucun département trouvé</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Neuf</mat-radio-button>
      <mat-radio-button value="2">Ancien</mat-radio-button>
    </mat-radio-group>
  <div class="button-valider">
    <button mat-raised-button color="primary">Valider</button>
  </div>
  </mat-card>
